<!DOCTYPE HTML>
<html lang="en">
<head>
 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <title>Nick'website-谢阳林的个人网站</title> 
<link rel="shortcut icon" href="<?php echo base_url();?>public/img/favicon.png"> 
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
 <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=2359996372" type="text/javascript" charset="utf-8"></script>

<link rel="stylesheet" href="<?php echo base_url()?>public/css/bootstrap.min.css">
<link rel="stylesheet" href="<?php echo base_url()?>public/css/blueimp-gallery.min.css">
<link rel="stylesheet" href="<?php echo base_url()?>public/css/bootstrap-image-gallery.min.css">
<link rel="stylesheet" href="<?php echo base_url()?>public/css/gallery.css">
    <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
           <script type='text/javascript' src="<?php echo base_url();?>public/js/respond.min.js"></script>
        <![endif]--> 


</head>
    <style type="text/css">
 body#content{
  background: url("<?php echo base_url()?>public/img/background.png");
}
.uyan{
  background-color: #fff;
  padding:20px;
  padding-top: 10px;
} 
</style>
<body id="content">
  <!--   插入menu视图 -->
   <?php $this->load->view('index/menu-fixed.html')?>
     <!--   插入menu视图 -->

  
    <div class="container ">
  <div class="row">
    <div class="col-md-2 col-sm-3">
          </div>
      <div class="col-md-9 col-sm-8 well well-sm">
    <h1>Gallery-画廊</h1>
    <blockquote>
        <p>我在很多地方展示了各种各样的图片比如 <a href="http://www.tuchong.com/">图虫网</a>, 当然还有一些地方 &amp; <br>轻博客上面也有一些比如 <a href="http://www.lofter.com/">网易轻博客</a> 我从2013年开始喜欢摄影开始玩photoshop <br> 摄影是一种生活态度，体现对这个世界的美的观察，我们需要艺术的东西</p>
    </blockquote>
    <form class="form-inline">
      <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-success ">
            <i class="glyphicon glyphicon-leaf"></i>
            <input id="borderless-checkbox" type="checkbox">效果
          </label>
          <label class="btn btn-primary ">
            <i class="glyphicon glyphicon-fullscreen"></i>
            <input id="fullscreen-checkbox" type="checkbox">全屏
          </label>
        </div>
     <!--  <div class="form-group pull-right">
            <button id="image-gallery-button" type="button" class="btn btn-danger ">
                <i class="glyphicon glyphicon-picture"></i>
               幻灯片
            </button>
        </div>   -->
        
    </form>
  </div>
    <br>
  </div>
</div>
    <!--use the section to scroll-->
    <!--test area-->
    


       <!-- The container for the list of example images -->
 <div class="row">
   <div class="col-md-3 col-sm-3">
   </div>
     <div class="col-md-7 col-sm-7">
       <div class="panel text-center">
          <p class="font-middle text-danger"><?php echo $category[0]['gc_name'];?></p>
            <p class="font-small">发表时间：<?php echo date('h点i分s秒' ,$category[0]['gc_time'])?></p>
          </div>
  <div class="panel text-center">
    <div id="links">  
      
      <a href="<?php echo $category[0]['gc_thumb']?>" 
        title="<?php echo $category[0]['gc_info']?>" data-gallery="">
        <img src="<?php echo $category[0]['gc_thumb']?>" style="float:left;width:100%" /></a>
    <?php foreach ($picture as $p):?>
       <a href="<?php echo $p['p_name']?>"
        title="<?php echo $p['p_info']?>" data-gallery="">
        <img src="<?php echo $p['p_name']?>" style="float:left;width:100%"/>
      </a>
      <?php endforeach; ?>
    </div>
          <br>
</div> 
   
<!-- UY BEGIN -->
<wb:comments url="<?php echo site_url('index/home/picture/'. $category[0]['gc_id']) ?>" width="auto" appkey="2359996372"></wb:comments>
<!-- UY END -->
  </div>
</div>

<div class="col-md-3 col-sm-3 ">
  </div>
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end of the big container-->
<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1 class="text-info">找到我：</h1>
      <div class="btn-group">
       <a class="btn btn-qq " href="http://user.qzone.qq.com/641593845/main"><i class="icon-twitter icon-large"></i> qq空间</a>
       <a class="btn btn-weibo " href=" http://weibo.com/u/2128613860"><i class="icon-facebook icon-large"></i> 微博</a>       
       <a class="btn btn-douban " href="http://www.douban.com/people/69476451/"><i class="icon-google-plus icon-large"></i>豆瓣</a>
      </div>
      
    </div>
  </div>
</div>



<!-- 脚注 -->
<?php $this->load->view('index/footer.html')?>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    

<script src="<?php echo base_url();?>public/js/blueimp-gallery.min.js"></script>

<!-- 注释这条即可 -->
<script src="<?php echo base_url();?>public/js/bootstrap-image-gallery.min.js"></script>

<script type="text/javascript" src="<?php echo base_url();?>public/js/gallery.js"></script>

<!-- JiaThis Button and comment BEGIN -->
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js"></script>
<script type="text/javascript">
var jiathis_config = {
    shareImg:{
        "showType":"ALL",
        "bgColor":"#bbeeb2",
        "txtColor":"black",
        "text":"",
        "services":"",
        "position":"",
        "imgwidth":"",
        "imgheight":"",
        "divname":""
    }
}
</script>
<script type='text/javascript' src='http://v3.jiathis.com/code/jia.js' charset='utf-8'></script>
<!-- JiaThis Button END -->
</body> 
</html>
